.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #616161;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarBrand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  padding: 0 0.5rem;
}

.navbarMenu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.navbarLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarLinkItem {
  margin: 0;
}

.navbarLink {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navbarLink:hover {
  color: #3498db;
}

.navbarAction {
  display: flex;
  gap: 10px;
}

.navbarButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navbarButton:hover {
  background-color: #2980b9;
}
